.menu{
	display: flex;
	justify-content: space-around;
}
.menu h1{
	display: inline-block;
}
.categorias{
	display: flex;
	justify-content: space-around;
	padding: 2px;
	border: thick solid;
}
.categoria h1{
	display: inline-block;

}
